name: .NET CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build and Test
    uses: ./.github/workflows/build-test.yml
    permissions:
      contents: read
      checks: write
      pull-requests: write
    with:
      upload-coverage: true
      check-coverage-threshold: true
